main{
    min-height: 100dvh; /* principal */
    min-height: 100vh; /* respaldo */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background: #eeecec; */
}
/* Toggle cambio de tema, componente theme-toggle */
/* Toggle cambio de tema, componente theme-toggle */
.global-toggle{
    width: 2.23em;
    position: absolute;
    right: 7%;
    top: 1%;
    z-index: 1200
}
/* Validadores */
.validatorsLogin{
    color: red;
    font-size: .7rem;
}
/* Contiene todo excepto "Olvidé mi contraseña" y "Registrate aqui" */
.cardLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% 5% 1% 5%;
    /* background: #ffffff; */
    border-radius: 4%; 
    max-width: 70vh;
}
/* Contenedor de img logo Zenki */
.zenkiflow{
    margin: 5% 0% 3% 0%;
    font-size: clamp(7vh, 20vw, 2.6vmax);
    display: flex;
    justify-content: center;
}
.imgLogoLogin{
    width: 64%;
}
/* icon usuario */
.icon_userLogin{
  max-width: 12%;
  min-width: 27px;
}

.cardLogin_Inputs{
    margin: 4% 5% 2% 5%;
    max-width: 65vw;
    padding: 0% 1% 0% 1%;
    max-width: min(65vw, 68vh, 640px);
}
.cardLogin_Inputs form{
    display: flex;
    flex-direction: column;
}
.cardLogin_Inputs form button{
    align-self: center;
}

.cardLogin_Labelinput{
    display: flex;
    align-items: center;
    gap: 3%;
    /* font-size: clamp(17px, 3vmin, 10vmin); */   
    /* font-size: 3vmax; */
    font-size: clamp(1.1em, 1.2vmax, 1.3vmax);
    margin: 3% 0% 3% 0%;
}
/* Inputs */
.cardLogin_Labelinput input {
    flex: 1;
    min-width: 0;    /* importante para que el input pueda encogerse dentro de flex */
    border: 1px solid green;
    border-radius: .4em .4em;
    background-color: rgb(236, 255, 205);
}
label{
    /* color: rgb(0, 111, 67); */
    color: rgb(0, 111, 98);
}
input{
    padding: 0% 3% 0% 3%;
}
/* Botón Ingresar */
.btnLogin{
    width: 8vw;
    min-width: 100px;
    font-size: clamp(.9em, 1vmax, 4vmax);/* para etiquta p */
    border: none;
    background: transparent;  
    position: sticky;
}
/* imagen del botón ingresar */
.imgLoginIngresar{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto;
}
/* etiqueta p con texto Ingresar */
.pIngresar{
    position: absolute;
    display: inline;
    left: 24%;
    top: 33%;
    /* color: rgb(0, 111, 67); */
    font-weight: 700;
    color: rgb(0, 104, 105);
    letter-spacing: 5%;
    font-size: clamp(.95em, 1.05vmax, 4vmax);
}
/* Contenedor de "olvidé contraseña" y "Registrate aquí" */
.cardLogin_bttnlink{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3% 0% 5.5% 0%;
    font-size: clamp(.85em, 1.05vmax, 4vmax);
}
.cardLogin_bttnlink a{
    text-decoration: none;
    /* color: rgb(0, 111, 67); */
    color: rgb(0, 111, 98);
}