main{
    min-height: 100dvh; /* principal */
    min-height: 100vh; /* respaldo */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background: #eeecec; */
}
/* Toggle cambio de tema, componente theme-toggle */
/* Toggle cambio de tema, componente theme-toggle */
.global-toggle{
    width: 2em;
    position: absolute;
    right: 7%;
    top: 1%;
    z-index: 1200
}
/* Validadore */
.validatorsLogin{
    color: red;
    font-size: .7rem;
}
/* Contiene todo excepto "Olvidé mi contraseña" y "Registrate aqui" */
.cardLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% 5% 1% 5%;
    /* background: #ffffff; */
    border-radius: 4%; 
    max-width: 70vh;
}

.taskflow{
    margin: 5% 0% 3% 0%;
    /* font-size: 10vmin; */
    font-size: clamp(7vh, 20vw, 2.6vmax);
}

.icon_userLogin{
  max-width: 20%;
 /*  height: auto; */
}

.cardLogin_Inputs{
    margin: 4% 5% 2% 5%;
    max-width: 65vw;
    padding: 0% 1% 0% 1%;
    max-width: min(65vw, 68vh, 640px);
}
.cardLogin_Inputs form{
    display: flex;
    flex-direction: column;
}
.cardLogin_Inputs form button{
    align-self: center;
}

.cardLogin_Labelinput{
    display: flex;
    align-items: center;
    gap: 3%;
    /* font-size: clamp(17px, 3vmin, 10vmin); */   
    /* font-size: 3vmax; */
    font-size: clamp(.85em, 1.05vmax, 4vmax);
    margin: 3% 0% 3% 0%;
}
/* Inputs */
.cardLogin_Labelinput input {
    flex: 1;
    min-width: 0;    /* importante para que el input pueda encogerse dentro de flex */
}
/* Botón Ingresar */
.btnLogin{
    width: 4.7vw;
    min-width: 70px;
    font-size: clamp(.9em, 1vmax, 4vmax);
    border-radius: 70% 5%;
    background: transparent;
    padding: 1% 3% 1.5% 3%;
    margin: 3% 0% 3% 0%;
    justify-content: center;
}
/* Contenedor de "olvidé contraseña" y "Registrate aquí" */
.cardLogin_bttnlink{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% 0% 8% 0%;
    font-size: clamp(.85em, 1.05vmax, 4vmax);;
}