<div class="h-screen flex flex-col overflow-hidden">
      <header class="bg-gray-200 p-4 flex items-center justify-end">

      </header>

      <div class="flex-1 p-4 overflow-y-auto flex flex-col gap-4">
         <app-message [myMessage]="true"/>

         
        <!-- <app-message [myMessage]="true" /> -->
         



      <div class="flex gap-x-4 mt-4 p-4">
        <input
          type="text"
          class="w-full rounded-md border outline-none border-gray-200 p-2"
          
        />
        <p>Hola</p>
        <button
          class="cursor-pointer bg-black px-4 py-2 rounded-md text-white"
          
        >
          Enviar
        </button>
      </div>
</div>