/* You can add global styles to this file, and also import other style files */
/* se toman como referencia */
:root {
  --bg: #ffffff;
  --fg: #111827;
  --card-bg: #ffffff;
}

/* defecto - combinación como si fuera tema ligth */
main, body {
  background: var(--bg);
  color: var(--fg);
}

/* tema claro/oscuro aplicable a <main> y fallback en <html> */
main.theme-light, html.theme-light {
  --bg: #f5f5f5;
  --fg: #111827;
  --card-bgLogin: #ffffff;
  --card-bgInicio: #f5f5f5;
}

main.theme-dark, html.theme-dark {
  --bg: #0b1321;
  --fg: #e5e7eb;
  --card-bgLogin: #0d1329;
  --card-bgInicio: #0d1329;
}

/* usar variables */
main {
  background: var(--bg);
  color: var(--fg);
  transition: background-color 500ms ease, color 1400ms ease;
}
/* Contenedor de logín */
.cardLogin {
  background: var(--card-bgLogin);
  transition: background-color 500ms ease;
}
/* botón ingresar del logín */
.btnLogin{
  color: var(--fg);
  transition: color 1000ms ease;
}
/* clases de la parte media y baja de la tarjeta tareas en inicio */
.mid, .bot{
  background: var(--card-bgInicio);
  color: var(--fg);
  transition: background-color 500ms ease, color 1400ms ease;
}